@import "./src/assets/sass/_mixin.scss";
@import "./src/assets/sass/_var.scss";

page {
  background-color: #ededed;
  padding-bottom: 30rpx;
}


.tab_container {
  .hd {
    &.swiper-tab {
      display: flex;
      align-items: center;
      @include lh(80rpx, 80rpx);
      background-color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;

      .swiper-tab-item {
        font-size: 26rpx;
        color: #999;
        position: relative;
        width: 100%;
        text-align: center;

        &.active {
          color: #333;
          font-size: 30rpx;

          &::after {
            content: '';
            display: inline-block;
            width: 52rpx;
            height: 6rpx;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -26rpx;
            background-color: $icolor;
          }
        }
      }
    }
  }

  .bd {

    // 可使用
    .use {}

    // 已使用
    .used {
      .prd_price {
        color: #999;

        &::before {
          color: #999;
        }
      }
    }

    // 已过期
    .overTime {
      .coupon_item {
        background-color: #ccc;
        color: #fff;

        .title,
        .nick_name,
        .date {
          color: #fff;
        }

        .prd_price {
          color: #fff;

          &::before {
            color: #fff;
          }
        }
      }

    }

  }
}

.show {
  display: block;
}

.hide {
  display: none;
}


$pic-height:130rpx;

.order_item {
  width: 100%;
  height: auto;

  // padding: 30rpx;
  float: none;
  position: relative;
  margin-bottom: 20rpx;
  background-color: #fff;
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: 0;
  }

  .prd_img {
    width: $pic_height;
    height: $pic_height;
    border: 1px solid #dbdbdb;
  }

  .prd_name {
    width: 100%;
    font-size: 30rpx;
    white-space: inherit;
    line-height: 1.5;

    @include ell(2);

    margin-top: 0;
    color: #333;
  }

  .prd_price {
    color: $icolor2;

    @include text;

    font-size: 32rpx;

    // margin-top: 20rpx;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    line-height: 1;

    // padding-bottom: 10rpx;

  }

}

// 订单列表
.user_order_list {
  padding: 20rpx 30rpx;
  padding-bottom: 0;

  @at-root .user_order_item {
    background-color: #fff;
    padding: 20rpx;

    .hd {
      &.status {
        font-size: 26rpx;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20rpx;

        .payment_status {
          color: #999;

          .active {
            color: $icolor3;

          }
        }
      }
    }

    .bd {
      &.order_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding: 20rpx;
        height: 170rpx;
        margin-bottom: 10rpx;

        .cell_bd {
          display: flex;
          height: 100%;

          .col {
            margin-left: 20rpx;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .prd_price {
            color: #666;
            font-weight: normal;
            font-size: 26rpx;

            &::before {
              content: '￥';
              color: #666;
            }
          }
        }

        .cell_ft {
          height: 100%;
          padding-left: 20rpx;
          display: flex;
          align-items: flex-start;
        }
      }

    }

    .ft {
      &.order_pay {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid #ededed;
        padding-top: 20rpx;
      }
    }

    .order_price {
      text-align: right;
      font-size: 26rpx;
      color: #333;
      display: flex;
      align-items: center;
      padding: 20rpx 0;
      justify-content: flex-end;
      padding-top: 10rpx;

      .price {
        font-size: 30rpx;
        font-weight: normal;
      }

      .order_amount {
        margin-left: 20rpx;
      }
    }

  }

}

// .order_complete {
//   .payment_status {
//     color: #999;
//   }
// }


// 团购
.gb {
  @at-root .user_order_item {

    .hd {}

    .bd {
      &.order_item {
        .gb_price_wrap {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          line-height: 1;

          .prd_price {
            font-size: 22rpx;
            color: #999;
            text-decoration: line-through;
            font-weight: normal;
            width: auto;

            &::before {
              color: #999;
              font-size: 22rpx;
            }
          }

          .gb_price {
            font-size: 30rpx;
            margin-right: 20rpx;
            width: auto;
            text-decoration: none;
            color: #666;
            font-weight: normal;

            &::before {
              color: #666;
              font-size: 30rpx;
            }
          }

        }
      }

    }
  }

  .final_price {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20rpx;
    color: #333;
    font-weight: normal;

    .prd_price {
      font-size: 30rpx;
      color: #ff3e3e;
      font-weight: normal;

      &::before {
        content: '￥';
        font-weight: normal;
        vertical-align: middle;
        color: #ff3e3e;
        font-size: 24rpx;
        display: flex;
      }
    }
  }
}

.order_amount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 210rpx;
}

// 钱币单位

.prd_price {
  font-size: 32rpx;
  color: #666;
  display: flex;
  align-items: center;
  width: auto;

  &::before {
    content: '￥';
    font-weight: normal;
    vertical-align: middle;
    color: #666;
    font-size: 24rpx;
    display: flex;
  }
}


.mr100 {
  margin-right: 100rpx;
}

.mb20 {
  margin-bottom: 20rpx;
}

.mt20 {
  margin-top: 20rpx;
}

.group_buying_status {
  background-color: #eee !important;
  border-color: #eee !important;
  color: #999 !important;
}